.banner-title-up {
    color: #FA804C;
}

.banner-title-down {
    color: #363958;
}

.button-bg {
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius: 10px;
}

.banner-background {
    color: #FFF9F4;
}

.casual-shoes-bg {
    background-color: #ebeae5;
}

.contact-icon {
    height: 110px;
    width: 110px;
}

.banner-bg-image {
    background-image: url(images/black-and-gray-wave-abstract-background-free-vector.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}